.login-container {
  min-height: 100vh;
}
.login-login {
  width: 100%;
  height: 728px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.login-image54 {
  top: 0px;
  left: 687px;
  width: 753px;
  height: 728px;
  position: absolute;
}
.login-group289343 {
  top: 200px;
  left: 149px;
  width: 362px;
  height: 397px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login-form {
  top: 120px;
  left: 0px;
  width: 362px;
  height: 277px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login-switchon {
  top: 186px;
  left: 0px;
  width: 42px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 160, 221, 1);
}
.login-rectangle {
  top: 2px;
  left: 24px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(150, 150, 150, 1);
  border-radius: 8px;
}
.login-text {
  top: 186px;
  left: 49px;
  color: rgba(37, 47, 64, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text02 {
  top: 186px;
  left: 244px;
  color: rgba(37, 47, 64, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.login-inputactive {
  top: 0px;
  left: 0px;
  width: 361px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login-rectangle1 {
  top: 29px;
  left: 0px;
  width: 361px;
  height: 40px;
  position: absolute;
  border-color: rgba(0, 160, 221, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.login-text04 {
  top: 39px;
  left: 12px;
  color: rgba(67, 67, 67, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text06 {
  color: rgba(37, 47, 64, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-inputdefault {
  top: 93px;
  left: 0px;
  width: 361px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login-rectangle2 {
  top: 29px;
  left: 0px;
  width: 361px;
  height: 40px;
  position: absolute;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.login-text08 {
  top: 39px;
  left: 12px;
  color: rgba(210, 214, 218, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text10 {
  color: rgba(37, 47, 64, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-buttondefault {
  top: 237px;
  left: 0px;
  width: 361px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.login-rectangle3 {
  top: 0px;
  left: 0px;
  width: 361px;
  height: 40px;
  position: absolute;
  border-color: rgba(150, 150, 150, 1);
  border-radius: 8px;
}
.login-text12 {
  top: 10px;
  left: 152px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-text14 {
  top: 65px;
  color: rgba(131, 146, 171, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: normal;
}
.login-text16 {
  color: var(--dl-color-default-logo);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
}
.login-footer {
  top: 690px;
  left: 0px;
  width: 1440px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.login-bg {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 38px;
  position: absolute;
  border-color: transparent;
}
.login-text18 {
  top: 11px;
  left: 565px;
  color: var(--dl-color-default-gray7);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-vxip1 {
  top: 70px;
  left: 149px;
  width: 81px;
  height: 99px;
  position: absolute;
  border-color: transparent;
}
